body {
  background-color:rgb(177, 149, 133);
}

h1 {
  color: rgb(43, 226, 186);
  font-size: 50px;
  text-align: center;
} 

p {
  color: rgb(8, 7, 8);
  background-color: rgba(238, 255, 0, 0.747);
}
article {
    text-align: center;
}
img {
  height: 400px;
  width: 400px;
}

ul {

  text-align: center;
}

li {
  border: solid rgb(0, 0, 0) 3px;
  display: inline;
  background-color: #2bc1a8;
  padding: 12px;
  margin: 60px; 
}
